.panel-heading {
    border-bottom-width: 0;
}

.panel-default.note-editor .panel-heading .btn-default {
    background-color: @btn-default-bg;
    border-color: @btn-default-border;
}

.panel-default .panel-heading .btn-default {
    background-color: @panel-default-heading-bg;
    border-color: @panel-default-heading-bg;
}

.panel-title {
    font-size: 15px;
    line-height: 16px;
}

.modal-content {
    background-color: @white-color;
}

.dialog-record .modal-content > .modal-body {
    background-color: @body-bg;
}

.modal-body > .list-group {
    background-color: @white-color;
}

.list-container > .list {
    background-color: @white-color;
}

.modal-footer {
    margin-top: 0;
}

.panel-heading > .btn-group {
    top: -5px;
    right: -10px;
}

table.table {
    background-color: @white-color;
}

.record .middle > .panel:first-child {
    border-top-width: 1px;
}

.record .middle > .panel {
    border-top-width: 1px;
}

.dashlet-body .list-container > .list,
.panel-body .list-container > .list {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

#navbar .nav.navbar-nav.navbar-right {
    background-color: @navbar-bg;
}

.list-container > .list,
.panel,
.dashlet-container,
#main > .calendar-container,
.well {
    -webkit-box-shadow: 3px 3px 4px rgba(0,0,0,0.13);
    -moz-box-shadow: 3px 3px 4px rgba(0,0,0,0.13);
    box-shadow: 3px 3px 4px rgba(0,0,0,0.13);
}

#navbar .nav.navbar-nav.navbar-right,
.stick-sub.button-container,
#navbar .navbar.navbar-inverse {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

@media (min-width: 768px) {
    .modal-dialog > .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
        -moz-box-shadow: 0 5px 15px -3px rgba(0,0,0,0.5);
        box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    }
}

.panel.sticked {
    border-top-width: 1px;
}

.list-container .list-buttons-container {
    margin-bottom: 10px;
}

.modal-header {
    background-color: @white-color;
}

.calendar-container > .calendar,
.calendar-container > .timeline {
    background-color: @white-color;
}

.field .list-group {
    background-color: @white-color;
}

.field .grid-stack-item-content {
    border: 1px solid @default-border-color;
}

#login.panel > .panel-heading {
    margin: 0 !important;
}

#notifications-panel > .panel,
#global-search-panel > .panel {
    border-width: 1px;
}

.record .stick-sub.button-container {
    background-color: @navbar-bg !important;
    padding-bottom: 0;
}